@page "/"

<PageTitle>FIAP Pós Tech - Hackathon - Turma .NET - Visão Geral Projeto - Sistema de Agendamentos</PageTitle>

<div class="card">

    <div class="card-header">

        <h1>FIAP Pós Tech - Hackathon - Turma .NET - Visão Geral Projeto - Sistema de Agendamentos</h1>
    </div>

    <div class="card-body">


        <h2>Participantes</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/img/diego.jpeg" class="img-thumbnail" style="width: 150px; height: 200px;" />
                <p><strong>Diego Ivan Mendes de Oliveira</strong></p>
            </div>
            <div class="col-md-4 text-center">
                <img src="/img/vinicius.jpg" class="img-thumbnail" style="width: 150px; height: 200px;" />
                <p><strong>Vinicius Roberto dos Santos</strong></p>
            </div>
            <div class="col-md-4 text-center">
                <img src="/img/alisson.jpeg" class="img-thumbnail" style="width: 150px; height: 200px;" />
                <p><strong>Alisson da Silva Pinto</strong></p>
            </div>
        </div>

        <h3>FIAP - Hackathon - Turma .NET</h3>
        <h3>FASE FINAL</h3>
        <h6>
            A Health&Med, é uma Operadora de Saúde que tem como objetivo digitalizar seus
            processos e operação. O principal gargalo da empresa é o Agendamento de
            Consultas Médicas, que atualmente ocorre exclusivamente através de ligações
            para a central de atendimento da empresa.
        </h6>
        <br />
        <h3>Entregáveis</h3>

        <h6>
            Desenvolvimento de um MVP da solução, contemplando os requisitos
            funcionais e não funcionais listados acima.
        </h6>
        <h6>
            Pipeline CI/CD a Demonstração do pipeline de deploy da aplicação.
        </h6>
        <h6>
            Testes unitários
            a Implantação de testes unitários que garantam o funcionamento da solução
        </h6>
        <h6> Não há a necessidade do desenvolvimento do Frontend da Solução.</h6>
        <h6>
            Formato da entregável: Vídeo gravado que demonstre o funcionamento do
            sistema cumprindo os requisitos solicitados e Documentação escrita
            README ou Arquivo)
            a duração máxima do vídeo deverá ser de, no máximo, 10 minutos. Vídeos
            mais longos não serão corrigidos.
        </h6>

        <p><strong>Link:</strong> <a href="https://github.com/DevAlissonPinto/HealthMed">https://github.com/DevAlissonPinto/HealthMed</a></p>

        <h4>Documentação</h4>
        <p><strong>Link do documento com as explicações da arquitetura:</strong> <a href="https://docs.google.com/document/d/14ewJ4XPiJQg1P98wS5XBo99JNWBvMdHTgX6Fpo0Ylow/edit?usp=sharing">https://docs.google.com/document/d/14ewJ4XPiJQg1P98wS5XBo99JNWBvMdHTgX6Fpo0Ylow/edit?usp=sharing</a></p>


    </div>

</div>
